.methods {
  background-image: url('../images/methods-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0px 95px;
  &__top {
    margin-bottom: 64px;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 18px;
    color: var(--color-gray);
    line-height: 28px;
  }
  &__situation {
    position: relative;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 44px;
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 47px;
      height: 46px;
      background-image: url('../images/methods-tab-arrow.svg');
      right: 62px;
      top: 5px;
      transform: rotate(-95deg);
    }
  }
  &__tabs {
    display: flex;
    gap: 90px;
    &-btns {
      flex-basis: 33.33%;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 14px;
      border-radius: 5px 30px;
      padding: 20px;
      background-color: var(--color-light);
      outline: 1px solid #e9e9e9;
      outline-offset: -8px;
      z-index: 2;
      &.active {
        background-color: var(--accent-color);
        color: var(--color-light);
      }
      &:focus {
        outline: 1px solid #e9e9e9;
        outline-offset: -8px;
      }
      &__image {
        border-radius: 8px;
      }
      &__text {
        font-size: 15px;
        text-align: start;
        font-weight: 500;
      }
    }
    &-item.active {
      & span {
        display: block;
        height: 40px;
        width: 15px;
        position: absolute;
        overflow: hidden;
        z-index: -1;
        right: -15px;
        top: 50%;
        margin-top: -20px;
        opacity: 1;
        margin-left: -20px;
        &::before {
          content: "";
          position: absolute;
          width: 40px;
          height: 40px;
          background: var(--accent-color);
          right: 8px;
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }
  &__accordion {
    display: none;
  }
  &__body {
    flex-basis: 66.66%;
  }
  &__quote {
    display: flex;
    margin-bottom: 48px;
    &-employee {
      flex-basis: 50%;
      display: flex;
      &__image {
        width: 123px;
        height: 123px;
        object-fit: cover;
        position: absolute;
        border-radius: 100%;
      }
      &__info {
        padding-left: 145px;
      }
      &__name {
        display: block;
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      &__profession {
        color: var(--color-gray);
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 12px;
      }
      &__experience {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        border-radius: 5px 30px;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        display: inline-block;
        padding: 13px 24px;
      }
    }
    &-text {
      position: relative;
      flex-basis: 50%;
      line-height: 30px;
      padding-left: 48px;
      &::before {
        content: "";
        background-image: url('../images/quote.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        position: absolute;
        left: 0;
        top: 5px;
        width: 28px;
        height: 17px;
      }
    }
  }
  &__content {
    &-item {
      display: none;
      border-radius: 5px 30px;
      box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
      background-color: var(--color-light);
      padding: 39px 50px 47px 55px;
      outline: 1px solid #e9e9e9;
      outline-offset: -8px;
      gap: 50px;
      animation: tab-show var(--transition-duration);
      &.active {
        display: flex;
        opacity: 1;
      }
      &__body {
        flex-basis: 56%;
      }
      &__aside {
        flex-basis: 44%;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 14px;
      }
      &__description {
        font-size: 18px;
        color: var(--color-gray);
        line-height: 26px;
        margin-bottom: 64px;
      }
      &__image {
        border-radius: 8px;
      }
      &__btn {
        background: var(--accent-color);
      }
    }
  }
  &__offer {
    position: relative;
    background-color: #f4f7f8;
    border-radius: 5px 30px;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 30px 8px 10px 8px;
    &-name {
      font-size: 16px;
    }
    &-country {
      color: var(--color-gray);
      font-size: 16px;
    }
    &-label {
      font-weight: 600;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      color: #fff;
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
      position: absolute;
      left: -5px;
      top: -25px;
      width: 156px;
      height: 45px;
      background-image: url('../images/methods-offer-label.svg');
      padding-left: 68px;
      transform: rotate(-15deg);
    }
  }
  &__price {
    margin-bottom: 20px;
    &-old {
      font-weight: 500;
      font-size: 18px;
      color: var(--color-gray);
      text-decoration: line-through;
    }
    &-new {
      font-weight: 900;
      font-size: 36px;
      color: var(--accent-color);
      margin-left: 6px;
    }
  }
  &__note {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--accent-color);
    border-radius: 5px 30px;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-light);
    padding: 10px 20px 10px 45px;
    &-count {
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      gap: 4px;
      & span {
        color: var(--color-dark);
        font-size: 34px;
      }
    }
    &-text {
      color: var(--color-dark);
    }
  }
}

@keyframes tab-show {
  from {
    transform: translateX(50px);
    opacity: 0;
  } 
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@include desktop {
  .methods {
    &__situation {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
      &::after {
        display: none;
      }
    }
    &__tabs {
      gap: 60px;
      &-btns {
        flex-basis: 25%;
      }
      &-item {
        gap: 12px;
        padding: 14px;
        outline-offset: -6px;
        &:focus {
          outline-offset: -6px;
        }
        &__image {
          max-width: 64px;
          max-height: 54px;
        }
        &__text {
          font-size: 12px;
        }
      }
      &-item.active {
        & span {
          height: 25px;
          margin-top: -10px;
          &::before {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    &__body {
      flex-basis: 75%;
    }
    &__content {
      &-item {
        gap: 30px;
        &__aside {
          gap: 60px;
        }
      }
    }
  }
}

@include tablet {
  .methods {
    padding: 65px 0px 80px;
    &__top {
      margin-bottom: 44px;
    }
    &__situation {
      font-size: 18px;
      line-height: 26px;
      &::after {
        display: block;
        width: 30px;
        height: 36px;
        right: -40px;
      }
    }
    &__tabs {
      display: flex;
      flex-direction: column;
      &-btns {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-list {
        flex-direction: row;
      }
      &-item {
        padding: 20px;
        flex-direction: column;
        max-width: 180px;
        &__image {
          max-width: 110px;
          max-height: 90px;
        }
        &__text {
          text-align: center;
        }
      }
      &-item.active {
        & span {
          right: 0;
          transform: rotate(90deg) translateY(8px);
          top: auto;
          bottom: -20px;
          left: 50%;
        }
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    &__content {
      order: 1;
      &-item {
        padding: 31px 34px 42px 33px;
        gap: 20px;
        &__body {
          flex-basis: 62%;
        }
        &__aside {
          flex-basis: 38%;
          gap: 30px;
        }
        &__title {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 10px;
        }
        &__description {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &__offer {
      max-width: 344px;
      padding: 0px 10px;
      &-image {
        position: relative;
        z-index: 2;
      }
      &-label {
        z-index: 1;
        font-size: 12px;
        width: 130px;
        height: 40px;
      }
      &-name {
        font-size: 14px;
      }
      &-country {
        font-size: 14px;
      }
    }
    &__price {
      &-old {
        font-size: 16px;
      }
      &-new {
        font-size: 28px;
      }
    }
    &__note {
      max-width: 350px;
    }
    &__quote {
      order: 2;
      margin-bottom: 0px;
      gap: 20px;
      &-employee {
        flex-basis: 40%;
        &__image {
          width: 100px;
          height: 100px;
        }
        &__info {
          padding-left: 120px;
        }
        &__name {
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 2px;
        }
        &__profession {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        &__experience {
          font-size: 14px;
          line-height: 24px;
          border-radius: 5px 30px;
          padding: 10px 20px;
        }
      }
      &-text {
        flex-basis: 60%;
      }
    }
  }
}

@include phablet {
  .methods {
    padding-top: 55px;
    padding-bottom: 65px;
    &__title {
      margin-bottom: 8px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__tabs {
      gap: 45px;
      &-item {
        padding: 18px;
        &__image {
          max-width: 95px;
          max-height: 75px;
        }
      }
    }
    &__content {
      &-item {
        flex-direction: column;
        align-items: normal;
        gap: 30px;
        &__aside {
          max-width: 550px;
          margin: 0px auto;
        }
      }
    }
    &__note {
      max-width: 100%;
      padding: 20px 25px;
    }
    &__quote {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@include mobile {
  .methods {
    padding-top: 40px;
    padding-bottom: 42px;
    &__top {
      margin-bottom: 27px;
    }
    &__title {
      margin-bottom: 4px;
    }
    &__subtitle {
      text-align: center;
      font-size: 14px;
    }
    &__situation {
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 18px;
      &::after {
        display: none;
      }
    }
    &__tabs {
      gap: 30px;
      display: none;
      &-btns {
        align-items: normal;
      }
      &-list {
        overflow-x: scroll;
        gap: 10px;
        padding-bottom: 14px;
      }
      &-item {
        padding: 12px 16px;
        max-width: 100%;
        gap: 10px;
        flex-direction: row;
        &__image {
          max-width: 80px;
        }
        &__text {
          text-align: start;
        }
      }
      &-item.active {
        & span {
          display: none;
        }
      }
    }
    &__accordion {
      display: block;
    }
    &__content {
      &-item {
        &__title {
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 6px;
        }
        &__description {
          font-size: 13px;
          line-height: 21px;
          margin-bottom: 46px;
        }
        &__aside {
          max-width: 220px;
          gap: 15px;
        }
      }
    }
    &__offer {
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: 100%;
      margin-bottom: 20px;
      gap: 8px;
      &-name {
        display: block;
        font-size: 13px;
        line-height: 20px;
      }
      &-country {
        margin-top: -4px;
        font-size: 13px;
      }
      &-image {
        max-width: 60px;
      }
      &-label {
        width: 100px;
        height: 32px;
        padding-left: 45px;
        font-size: 11px;
        top: -22px;
      }
    }
    &__price {
      margin-bottom: 15px;
      &-old {
        font-size: 14px;
      }
      &-new {
        font-size: 22px;
      }
    }
    &__note {
      padding: 13px 14px 13px 20px;
      max-width: 100%;
      gap: 12px;
      &-count {
        font-size: 18px;
        & span {
          font-size: 28px;
        }
      }
      &-text {
        font-size: 13px;
        line-height: 21px;
      }
    }
    &__quote {
      gap: 20px;
      &-employee {
        &__image {
          width: 80px;
          height: 80px;
        }
        &__info {
          padding-left: 100px;
        }
        &__name {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0px;
        }
        &__profession {
          font-size: 14px;
          line-height: 24px;
        }
        &__experience {
          font-size: 12px;
          line-height: 22px;
          border-radius: 5px 30px;
          padding: 8px 16px;
        }
      }
      &-text {
        padding-left: 40px;
        font-size: 14px;
        line-height: 24px;
        &::before {
          width: 24px;
          height: 14px;
        }
      }
    }
  }
}