:root {
  --accent-color: #3BBC9F;
  --primary-color: #84c4cb;
  --secondary-color: #329c85;
  --color-dark: #113c45;
  --color-light: #FFFFFF;
  --color-gray: #6c888e;
  --color-gray-alt: #f2f2f2;

  --font-family: "Montserrat", sans-serif;

  --border-radius: 50px;
  
  --transition-duration: 0.3s;
}